@model SmartHome.Core.Models.DeviceDetailsModel
@{
    ViewBag.Title = "Details";
}

<div class="page-header">
    <h3>@Model.Name <small>(@Model.Type.Name)</small></h3>
</div>
<div class="container-fluid">
    @Html.Partial("_EventListTable", Model.EventList)
</div>


